/* You can add global styles to this file, and also import other style files */

html,
body,
app-root {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.action-button,
.nav-button,
.header {
  background-color: #159985;
  color: white !important;
}

.cancel-button {
  background-color: lightgray;
}

.negative-amount {
  color: red;
}

.positive-amount {
  color: #1ab82f;
}

.withdraw-button {
  margin-right: 1em !important;
}

.error-message {
  color: red;
}
